rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /families/{family}/people/{person} {
      allow read, write: if true;
    }
  }
}
